/* 
color: rgb(29, 29, 31); - for black 

WHITE
    color: rgb(245, 245, 247); - 
    color: rgb(189, 189, 191); - dark

color: rgb(66, 66, 69); - gray
color: rgb(23, 23, 26); - dark gray

color: rgb(25,135,84); -green

color: rgb(220, 53, 69); for - dark red
color: rgb(248, 215, 218); for - light red
color: rgb(241, 174, 181); for - medyo red

Tarlac City Color from website
color: rgb(0, 59, 179); - for blue
color: rgb(255, 204, 0); - for yellow

font-family: 'Jost', sans-serif; - for title
font-family: 'Noto Serif', serif; for sentence
*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Noto+Serif&display=swap');

* {
    margin: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: rgb(245, 245, 247);
    color: rgb(29, 29, 31);
    font-family: 'Noto Serif', serif;
}
/* Font */
.title {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
}

.sentence {
    color: rgb(66,66,69);
}

.text-center {
    text-align: center;
}

.sentence-title {
    font-weight: bold;
    font-size: 1.1rem;
}

p.whole-paragraph {
    text-align: justify;
    text-indent: 2rem;
}
/* map */
map {
    height: 75vh;
    width: 75vw;
}

section > subsection > map {
    height: 100%;
    width: 100%;
}

section map {
    height: 500px;
    width: 100%;
}

/* Nav Bar */
nav {
    background-color: rgb(0, 59, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

nav .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .logo:hover {
    filter: brightness(0.9);
}

nav .logo > img {
    width: 32px;
    padding-right: 10px;
}

nav .logo > p {
    color: rgb(245, 245, 247);
    font-size: 1.1rem;
    font-family: 'Jost', sans-serif; 
}

nav .button-group{
    display: flex;
    align-items: center;
}

nav .button-group > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .button-group > ul > li > a {
    height: 1.25rem;
    padding: 0px 15px;
    text-decoration: none;
    color: rgb(245, 245, 247);
    font-family: 'Jost', sans-serif; 
}

nav .button-group > ul > li.current {
    border-bottom: 1px solid rgb(245, 245, 247);
}

nav .button-group > ul > li > a:hover {
    filter: brightness(0.8);
}

nav #toggle {
    display: none;
    width: 32px;
}
/* subnav Bar */

nav #subnav-links {
    display: none;
}

/* containers */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    margin-top: 20px;
}

.column-container > * {
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
/* form */
form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 5px;
}

form label {
    color: rgb(23, 23, 26);
}

form label > span {
    color: rgb(66, 66, 69);
    font-size: 0.8rem;
    margin-left: 5px;
}

form input, form select, .pre-input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-family: 'Noto Serif', serif;
}

form input:focus, form select:focus {
    outline: 1px solid rgb(66,66,69);
    border: 1px solid rgb(66,66,69);
}

.pre-input {
    width: 25px;
    height: 19px;
    padding: 9px 10px;
    margin: 5px 5px 0px 0px ;
    background-color: rgb(206, 206, 206);
}

form input[type=file] {
    padding: 8px 10px;
}

form input[type=submit]{
    background-color:rgb(255, 204, 0);
    border: none;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

form input[type=submit].approve{
    background-color:rgb(25,135,84);
    color: rgb(245, 245, 247);
}

form a {
    color: rgb(66, 66, 69);
    align-self: center;
}

form .error-msg {
    color: rgb(220, 53, 69);
    padding-left: 10px;
}

form .error-alert {
    color: rgb(220, 53, 69);
    border: 1px solid rgb(241, 174, 181);
    border-radius: 10px;
    background-color: rgb(248, 215, 218);
    padding: 5px 10px;
}

form .error-input {
    border: 1px solid rgb(220, 53, 69);
    outline: 1px solid rgb(220, 53, 69);
}

form .input-group {
    width: 50%;
    padding: 10px 10px 10px 0;
}

form .input-group input, form .input-group select {
    margin-top: 5px;
    width: 90%;
 }

 form .input-group select {
    height: 39px;
    width: 90%;
 }

form > section {
    width: 450px;
}

form .input-row{
    display: flex;
}

form .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .button-group *{
    margin-left: 5px;
}

form .button-group .action.action.delete{
    background-color: rgb(220, 53, 69);
    color: rgb(245, 245, 247);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
}

form .button-group .action.action.delete:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

form table select.review{
    color: rgb(245, 245, 247);
}

form table select.review option.uploaded, form table select.review.uploaded {
    background-color: rgb(66,66,69);
}

form table select.review option.pending, form table select.review.pending {
    background-color: rgb(247, 163, 38);
}

form table select.review option.denied, form table select.review.denied {
    background-color: rgb(220, 53, 69);
}

form table select.review option.approved, form table select.review.approved {
    background-color: rgb(25,135,84);
}

form table select.denied-message {
    display: none;
}

form table div.denied-error {
    color: rgb(220, 53, 69);
}
/* Modal */
modal {
    position: fixed; 
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(29, 29, 31, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
modal > .content {
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 247);
    border: 1px solid rgb(29, 29, 31);
    border-radius: 10px;
    padding: 5px;
}

modal > .content > .title {
   padding: 5px;
   text-align: center;
}

modal > .content > .sentence {
    padding: 5px 0px;
    text-align: center;
}

modal > .content  a {
    align-self: center;
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: rgb(29, 29, 31);
}

modal > .content  button  {
    align-self: center;
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Jost', sans-serif;
    color: rgb(29, 29, 31);
    cursor: pointer;
    border: none;
}

modal > .content.success {
    border: 1px solid rgb(25,135,84);
}

modal > .content.success > .title {
    color: rgb(25,135,84);
}

modal > .content.success a {
    color: rgb(245, 245, 247);
    background-color: rgb(25,135,84);
}

modal > .content.success button {
    background-color: rgb(245, 245, 247);
    border: 1px solid rgb(25,135,84);
    color: rgb(25,135,84);
}

modal > .content.error {
    border: 1px solid rgb(220, 53, 69);
}

modal > .content.error > .title {
    color: rgb(220, 53, 69);
}

modal > .content.error a{
    color: rgb(245, 245, 247);
    background-color: rgb(220, 53, 69);
}

modal > .content.error button {
    border: 1px solid rgb(220, 53, 69);
    background-color: rgb(245, 245, 247);
    color: rgb(220, 53, 69);
}

modal > .content.warning {
    border: 1px solid rgb(247, 163, 38);
}

modal > .content.warning > .title {
    color: rgb(247, 163, 38);
}

modal > .content.warning button{
    border: 1px solid rgb(247, 163, 38);
    background-color: rgb(245, 245, 247);
    color: rgb(247, 163, 38);
}

modal > .content.warning a {
    color: rgb(245, 245, 247);
    background-color: rgb(247, 163, 38);
}

modal > .content.gray {
    border: 1px solid rgb(66,66,69)
}

modal > .content.gray > .title {
    color: rgb(66,66,69)
}

modal > .content.gray button{
    border: 1px solid rgb(66,66,69);
    background-color: rgb(245, 245, 247);
    color: rgb(66,66,69)
}

modal > .content.gray a {
    color: rgb(245, 245, 247);
    background-color: rgb(66,66,69)
}

modal .button-group {
    height: 30%;;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

modal .button-group button, modal .button-group a {
    margin-left: 10px;
}

modal form{
    align-self: center;
}

/* section */
section {
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 180px;
}

section.map-container {
    width: 370px;
}

subsection {
    background-color: white;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    flex-grow: 1;
    border: 1px solid rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
}

subsection .sentence {
    margin-bottom: 5px;
}

subsection .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 10px;
}

subsection > .logo > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

section subsection .info {
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    margin: 10px 0px;
}

section subsection >.service {
    background-color: rgb(0, 59, 179);
    color: rgb(245, 245, 247);
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px;
}

section subsection >.service:hover {
    filter: brightness(0.8);
}

section subsection .data-display{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

section subsection .action {
    border: 2px solid rgb(255, 204, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

section subsection .action:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

section subsection .action.delete {
    border: 2px solid rgb(220, 53, 69);
}

section subsection .action.edit {
    border: 2px solid rgb(0, 59, 179);
}

section subsection .action.approve {
    border: 2px solid rgb(71, 159, 118);
}

section subsection .action img{
    height: 2rem;
}
/* Table */
table {
    border-collapse: collapse;
}

table th{
    text-align: left;
    background-color: rgb(255, 204, 0);
}

table tr {
    border-bottom: 1px solid rgb(190, 190, 190);
}

table th, table td {
    padding: 10px;
}

table input[type=file], table select {
    padding: 0px;
    border: none;
    border-radius: 0;
}

table select {
    height: 20px;
} 

table img {
    width: 1.5rem;
    cursor: pointer;
}

table td .data{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 78, 173);
}

table td .data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 78, 173);
    color: rgb(245, 245, 247);
    border-radius: 10px;
    padding: 5px;
}

table td .data.gray {
    background-color: rgb(99, 99, 99);
    color: rgb(245, 245, 247);
}

table td .data.green {
    background-color: rgb(71, 159, 118);
    color: rgb(245, 245, 247);
}

table td .data.orange {
    background-color: rgb(247, 163, 38);
    color: rgb(245, 245, 247);
}

table td .data:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

table td .action.delete {
    border: 2px solid rgb(220, 53, 69);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

table td .action.delete:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

table#msme td:nth-child(6) {
    display: flex;
    justify-content: center;
}

table#msme td:nth-child(6) img:hover{
    filter: brightness(0.8);
}

/* Single Styles */

.height-auto {
    height: auto;
}

.flex{
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.content-center{
    align-content: center;
}

.align-self-center {
    align-self: center;
}

.hidden {
    display: none;
}

/* For  responsive*/

@media only screen and (max-width: 767px) {

    nav .button-group{
        background-color: rgb(0, 59, 179);
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        padding: 10px;
        max-height: 0;
        transition: max-height 0.3s ease;
        z-index: 1000;
    }

    nav .button-group ul {
        flex-direction: column;
    }

    nav #toggle {
        display: block;
    }

    modal > .content {
        width: 250px;
        font-size: 0.8rem;
    }

    modal > .content > .title {
        font-size: 1.2rem;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .column-container {
        overflow-x: auto;
    }

    section {
        height: auto;
        width: 300px;
    }

    section.map-container {
        height: 500px;
        width: 300px;
    }

    form section {
        width: 300px;
    }

    form .input-row{
        flex-direction: column;
    }

    form .input-group{
        width: 100%;
    }

    form .input-group select {
        width: 100%;
    }

    table {
        font-size: 0.8rem;
    }

    #subnav {
        display: none;
    }

    nav .button-group #subnav-links {
        display: block;
    }

    nav .button-group #subnav-links li:first-child {
        border-top: 2px solid rgb(245, 245, 247);
    }

    nav .button-group > ul > li.current {
        border: none;
    }

    nav .button-group > ul > li.current > a {
        text-decoration: underline;
    }
  }