/* 
color: rgb(29, 29, 31); - for black 
color: rgb(245, 245, 247); - for white
color: rgb(66, 66, 69); - for gray

color: rgb(220, 53, 69); for - dark red
color: rgb(248, 215, 218); for - light red
color: rgb(241, 174, 181); for - medyo red


color: rgb(0, 59, 179); - for blue
color: rgb(255, 204, 0); - for yellow

font-family: 'Jost', sans-serif; - for title
font-family: 'Noto Serif', serif; for sentence
*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Noto+Serif&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(245, 245, 247);
    color: rgb(29, 29, 31);
    font-family: 'Noto Serif', serif;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: rgb(0, 59, 179);
    display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jost', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(245, 245, 247);
    font-size: 24px;
}

nav > p {
    padding-left: 15px;
}

#logo > a {
    display: flex;
    text-decoration: none;
}

img {
    height: 150px;
}

#logo > a > p {
    color: rgb(245, 245, 247);
    font-size: 24px;
    padding: 15px 0px;
}

#logo > a > img {
    height: 50px;
    padding: 5px 10px;
}

#user {
    display: flex;
}

#user > a {
    padding: 20px 15px;
    text-decoration: none;
    color: rgb(245, 245, 247);
    font-size: 18px;
}

#user > a:hover {
    color: rgb(255, 204, 0);
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(65, 65, 65);
        
}

#map {
    background-color: aliceblue;
    height: 500px;
    width: 1200px;
}

#sidebar {
    background-color: rgb(255, 204, 0);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 8px 0 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    min-height: 740px;
    min-width: 250px;
    margin-right: 50px;
}

#sidebar > ul {
    padding: 10px 0px;
}

#sidebar > ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#sidebar > ul li:hover, .current {
    background-color: rgb(221, 177, 0);
}

#sidebar > ul li a{
    text-decoration: none;
    color: rgb(29, 29, 31);
    font-family: 'Jost', sans-serif;
}

#sidebar > ul li img{
    margin-right: 10px;
    height: 16px;
    width: 16px; 
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 4px;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.row {
    display: flex;
}

.container > .intro {
    margin-bottom: 30px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    color: rgb(29, 29, 31);
    text-align: center;
    margin-bottom: 5px;
}

.sentence {
    color: rgb(66,66,69);
    font-size: 14px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: rgb(66, 66, 69);
    margin-top: 5px;
}

form label > span {
    color: rgb(95, 95, 100);
    font-size: smaller;
    margin-left: 2px;
}

form input, form select, .before_input{
    margin: 10px 0px 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(245, 245, 247);
}

form select {
    height: 37px;
}

form input:focus, form select:focus {
    outline: none;
    box-shadow: 0 0 7px rgb(2, 94, 231);
}

.before_input {
    width: 25px;
    height: 18px;
    padding: 8px 10px;
    margin:10px 5px 0px 0px;
    background-color: rgb(206, 206, 206);
    flex-grow: 1;
}

form input[type=file] {
    padding: 7px 10px;
}

.row > input {
    flex-grow: 10;
}

form input[type=submit] {
    background-color:rgb(255, 204, 0);
    border: none;
    min-width: 50px;
    height: 40px;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 10px;
}

form input[type=submit]:hover {
    background-color:rgb(207, 166, 1);
}

form a {
    text-align: center;
    color: rgb(66, 66, 69);
}

form .error {
    color: rgb(220, 53, 69);
    font-size: smaller;
    padding: 0px 10px;
}

form .alert {
    display: none;
    color: rgb(220, 53, 69);
    border: 1px solid rgb(241, 174, 181);
    border-radius: 4px;
    background-color: rgb(248, 215, 218);
    padding: 5px;
}

form .group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 180px;
    margin-right: 10px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(233, 236, 239);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 1px;
    width: 200px;
}

.frame > .intro {
    margin-bottom: 20px;
}

.frame > .sentence {
    text-align: left;
    margin-bottom: 30px;
}

.frame > .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    align-self: center;
}

.logo_container > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.frame > .item {
    background-color: rgb(255, 204, 0);
    border-radius: 4px;
    padding: 10px;
    font-size: smaller;
}

.item.approved {
    background-color: rgb(71, 159, 118);
}

.item.pending {
    background-color: rgb(255, 176, 57);
}

.item.denied {
    background-color: rgb(227, 93, 106);
}

.item.none {
    background-color: rgb(206, 212, 218);
}

.item.services {
    background-color: rgb(0, 59, 179);
    color: rgb(245, 245, 247);
    text-decoration: none;
    padding: 10px 0px;
}

.item.services:hover {
    background-color: rgb(0, 39, 116);
}

.item.services:hover .emphasize {
    text-decoration: underline;
    text-transform: uppercase;
}

.frame.wide {
    width: 600px;
}

.frame.wide > #map {
    width: auto;
}

.hidden {
    display: none;
}

.modal {
    position: fixed; 
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(29, 29, 31, 0.7);
}
  
.modal-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 247);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid rgb(66, 66, 69);
    border-radius: 10px;
    width: 30%;
}

.modal-content > p {
    text-align: left;
}

.modal-content > a {
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    color: rgb(245, 245, 247);
    text-decoration: none;
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
}

.modal-content > button {
    background-color: rgb(255, 204, 0);
    border-radius: 10px;
    color: rgb(245, 245, 247);
    padding: 10px;
    margin: 20px 0px;
    font-family: 'Jost', sans-serif;
    font-size: large;
    border: none;
}

.modal-content > button:hover,.modal-content > button:active {
    background-color: rgb(197, 158, 0);
}

.modal-content.success {
    border: 1px solid rgb(25,135,84);
}

.modal-content.success > a,.modal-content.success > button {
    background-color: rgb(25,135,84);
}

.modal-content.success > a:hover,.modal-content.success > button:hover {
    background-color: rgb(17, 97, 60);
}

.modal-content.error {
    border: 1px solid rgb(220, 53, 69);
}

.modal-content.error > a,.modal-content.error > button {
    background-color: rgb(220, 53, 69);
}

.modal-content.error > a:hover,.modal-content.error > button:hover {
    background-color: rgb(151, 36, 48);
}

table {
    border-collapse: collapse;
    border-radius: 8px;
}

table, td, th{
    border: 1px solid rgb(190, 190, 190);
}
table th{
    text-align: left;
    background-color: rgb(255, 204, 0);
}

table td {
    font-size: 14px;
}

table th, table td {
    padding: 10px;
}

table input[type=file] {
    margin: 0px;
    padding: 0px;
    border: none;
}

.space-between{
    justify-content: space-between;
}

.delete_file {
    background-color: rgb(220, 53, 69);
    border: none;
    border-radius: 4px;
    color: rgb(245, 245, 247);
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
}

.delete_file:hover {
    background-color: rgb(141, 32, 43);
}

td >.view_file {
    background-color: rgb(0, 59, 179);
    text-decoration: none;
    border: none;
    padding: 1px 6px;
    border-radius: 4px;
    color: rgb(245, 245, 247);
}

td >.view_file:hover {
    background-color: rgb(0, 39, 117);
}

.row.space-between > span {
    cursor: pointer;
}

.user_info:hover {
    background-color: rgb(214, 214, 214);
}

.user_info td:first-child {
    font-weight: 600;
}

.user_info td:first-child:hover {
    cursor: pointer;
  }

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    margin:0px 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    color: rgb(245, 245, 247);
    cursor: pointer;
}

.delete_btn {
    background-color: rgb(219, 24, 43);
}

.edit_btn {
    background-color: rgb(0, 59, 179);
}

.actions button:hover{
    filter: brightness(0.8);
}