/* 
color: rgb(29, 29, 31); - for black 
color: rgb(245, 245, 247); - for white
*/

* {
    margin: 0;
}

body {
    background-color: rgb(216, 220, 231);
    color: rgb(29, 29, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    background-color: rgb(177, 196, 214);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
}

#logo > a {
    display: flex;
    text-decoration: none;
}

#logo > a > p {
    color: rgb(245, 245, 247);
    font-size: 24px;
    padding: 15px 0px;
}

#logo > a > img {
    height: 50px;
    padding: 5px 10px;
}

#user {
    display: flex;
}

#user > a {
    padding: 20px 15px;
    text-decoration: none;
    color: rgb(245, 245, 247);
    font-size: 18px;
}

#user > a:hover {
    color: rgb(0, 195, 255);
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(65, 65, 65);
        
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 740px;
}

#map {
    background-color: aliceblue;
    height: 500px;
    width: 1200px;
}

#content > .container {
    background-color: rgb(245, 245, 247);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: rgb(29, 29, 31);
    text-align: center;
    margin: 10px;
}

.sentence {
    color: rgb(66,66,69);
    text-align: center;
}

.container > .intro {
    margin-bottom: 50px;
}